<div class="site">
  <div class="site-left">
    <a href="" class="site-left_link">Stuff</a>
    <a href="" class="site-left_link">Things</a>
    <a href="" class="site-left_link">Stuff and things</a>
  </div>
  <div class="site-right">
    hey and stuff {{outlet}}
  </div>
</div>
