.site {
  display: flex;

  &-left {
    padding: 1rem;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #01508b;

    &_link {
      margin-bottom: 1rem;
      color: white;
    }
  }

  &-right {
    flex-grow: 1;
  }
}
