.site {
  display: flex;

  &-left {
    padding: 1rem;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #01508b;

    &_link {
      margin-bottom: 1rem;
      color: white;
    }
  }

  &-right {
    background: green;
  }
}
