<div class="container">
  <div class="main">
    <h1 class="main-title">Hello SPXers</h1>
    <h3 class="main-intro">This guide is an outline on how to learn beginning HTML, CSS and JavaScript.</h3>
    <div class="main-content">

    </div>
  </div>
</div>
