<nav class="nav">
  <div class="container">
    <div class="nav__content">
      {{#link-to "index" class="nav__content-box-link"}}<h1>SPX Training</h1>{{/link-to}}
      <div class="nav__content-box">
        {{#link-to "syllabus" class="nav__content-box-link"}}Syllabus{{/link-to}}
        {{#link-to "docs" class="nav__content-box-link"}}Docs{{/link-to}}
        {{#link-to "resources" class="nav__content-box-link"}}Resources{{/link-to}}
      </div>
    </div>
  </div>
</nav>
{{outlet}}
