<div class="linkbar">
  <div class="container">
    <div class="linkbar-box">
      <a href="" class="linkbar-box_link">Hey</a>
      <a href="" class="linkbar-box_link">hey</a>
      <a href="" class="linkbar-box_link">hi</a>
    </div>
  </div>
</div>
{{outlet}}
