<div class="container">
  <h1 class="text-title">Long-Term Overview</h1>

  <div class="text-box">
    <h3 class="text-section_title">INTRO to HTML/CSS:</h3>
    <h3 class="text-section_time">Able to do the following after 7-9 Weeks:</h3>
    <h4 class="text-section_item">Can create a new project.</h4>
    <h4 class="text-section_item">Can use F12 tools</h4>
    <h4 class="text-section_item">Can reproduce simple websites by sight</h4>
    <h4 class="text-section_item">Can use Git a bit</h4>
    <h4 class="text-section_item">Can understand HTML/CSS syntax</h4>
    <h4 class="text-section_item">Can start to troubleshoot problems with existing HTML/CSS</h4>
  </div>

  <div class="text-box">
    <h3 class="text-section_title">INTRO to JavaScript</h3>
    <h3 class="text-section_time">Able to do the following after 7-9 Weeks:</h3>
    <h4 class="text-section_item">Can understand JS syntax</h4>
    <h4 class="text-section_item">Can understand JS data types</h4>
    <h4 class="text-section_item">Can use JS to create and change HTML Elements</h4>
    <h4 class="text-section_item">Can pull simple info from an API</h4>
    <h4 class="text-section_item">Can understand the idea of MVC</h4>
    <h4 class="text-section_item">Can understand Git and use it proficiently</h4>
    <h4 class="text-section_item">Can use a Framework for a limited project</h4>
    <h4 class="text-section_item">Can upload a project and deploy to SharePoint</h4>
  </div>

  <div class="text-box">
    <h3 class="text-section_title">INTRO to Development</h3>
    <h3 class="text-section_time">Able to do the following after 7-9 Weeks:</h3>
    <h4 class="text-section_item">Can read other’s code and see what it is doing</h4>
    <h4 class="text-section_item">Can troubleshoot other’s code to find bugs</h4>
    <h4 class="text-section_item">Can start process of bug fix</h4>
    <h4 class="text-section_item">Can work on simple SPX Cloud code</h4>
    <h4 class="text-section_item">Can follow a simple online tutorial</h4>
  </div>
</div>
