<div class="site">
  <div class="site-left">
    <h4 class="site-left_link">HTML/CSS Unit</h4>
    {{#link-to "syllabus.sprint.sprint-one" class="site-left_link"}}Sprint One{{/link-to}}
  </div>
  <div class="site-right">
    {{outlet}}
  </div>
</div>
