<div class="linkbar">
  <div class="container">
    <div class="linkbar-box">
      {{#link-to "syllabus.over-all" class="linkbar-box_link"}}Overview{{/link-to}}
      {{#link-to "syllabus.units" class="linkbar-box_link"}}Units{{/link-to}}
      {{#link-to "syllabus.sprint" class="linkbar-box_link"}}Sprints{{/link-to}}
    </div>
  </div>
</div>
    {{outlet}}
